@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', 'Circular', -apple-system, system-ui, Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f7f7f7;
}
::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
